.react-pagination,
.react-pagination-list {
	align-items: center;
	display: flex;
	justify-content: center;
	text-align: center;
}

.react-button {
	-moz-appearance: none;
	-webkit-appearance: none;
	align-items: center;
	border: 1px solid transparent;
	border-radius: 4px;
	box-shadow: none;
	display: inline-flex;
	font-size: 1rem;
	height: 2.25em;
	justify-content: flex-start;
	line-height: 1.5;
	padding-bottom: calc(0.375em - 1px);
	padding-left: calc(0.625em - 1px);
	padding-right: calc(0.625em - 1px);
	padding-top: calc(0.375em - 1px);
	position: relative;
	vertical-align: top;
	margin: 0.25rem;
}

.react-pagination-link {
	border-color: #dbdbdb;
	min-width: 2.25em;
	font-size: 1em;
	justify-content: center;
	margin: 0.25rem;
	padding-left: 0.5em;
	padding-right: 0.5em;
	text-align: center;
	-moz-appearance: none;
	-webkit-appearance: none;
	align-items: center;
	border: 1px solid transparent;
	border-radius: 4px;
	box-shadow: none;
	display: inline-flex;
	height: 2.25em;
	line-height: 1.5;
	padding-bottom: calc(0.375em - 1px);
	padding-top: calc(0.375em - 1px);
	position: relative;
	vertical-align: top;
}

.react-is-current {
	background-color: #3273dc;
	border-color: #3273dc;
	color: #fff;
}

.react-icon {
	align-items: center;
	display: inline-flex;
	justify-content: center;
	height: 1.5rem;
	width: 1.5rem;
}
